

{% block stylesheets %} 
         
{% endblock %}
          
         

{% block body %}
 <!--  Form Login-->
            
            <div class="modal fade"  id="loginModal">
                  <div class="modal-dialog">
                    <div class="modal-content">

                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-titre"><span>Connexion</span> à votre compte</h2>
                        {% if error %}
                            <div id="resendValidationAlert" class="alert alert-danger">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                              <ul>
                                <i class="fa fa-exclamation-triangle"></i>
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                              </ul>
                            </div>
                      {% endif %}
                      </div>
                      

                    <form action="{{path('security_login')}}" method="post">
                      
                      <div class="modal-body">
                          <div class="inscrit text-right">
                            <a href="{{path('security_registration')}}" >Pas encore inscrit ?</a>
                          </div>
                        <div class="form-group">
                          <input type="text" name="_username" required class="form-control" placeholder="Email">
                        </div>
                          <div class="mdp text-right">
                            <a href="#">Mot de passe oublié ?</a>
                          </div>
                        <div class="form-group">
                         <input type="password" name="_password" required class="form-control" placeholder="Votre mot de passe">
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Connexion</button>
                      </div>
                    </form>

                    </div>
                  </div>
                </div>
              </div>  
           <!-- /Form Login-->

             

{% endblock %}

  


{% block javascripts %}

  <!-- Script General-->
                <script src="{{asset('js/vendors/jquery-3.4.1.min.js')}}"></script>
                <script src="{{asset('js/vendors/bootstrap.js')}}"></script>

            <!-- /Script General-->

{% endblock %}

