{% if  ListCmtReçus == null %}
                
    <div class="panel panel-default" >
      
      <div class="panel-body" style="width:600px;">
        <div class="alert alert-info">Aucun Commentaire reçus</div>
      </div>

    </div>

{% else %}
<div class="tab-content">
 
    <div class="list-group">
			                        					
		{% for ListCmtReçu in ListCmtReçus %}
            
            <div class="list-group-item">

                    <form method="post" action="{{path('comment.delete',{id: ListCmtReçu.id})}}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class=" btn  btn-danger ">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                    </form>

                    <a  data-toggle="collapse" data-parent="#accordion" href="#88{{ListCmtReçu.id}}" style="text-decoration:none;">	
             
                        <span style="min-width: 120px; display: inline-block; margin-left: 20px;color:#555555;" class="name">
                            <strong>
                                
                                {{ListCmtReçu.utilisateur.prenom|striptags|title}} {{ListCmtReçu.utilisateur.nom|first|upper}}.
                                
                            </strong></span>
                        
                        <span style="color:#555555;"class="">{{ListCmtReçu.contenu|truncate(20)}} </span>
                        <span style="font-size: 11px;" class="text-muted"> (Cliquez pour lire la suite)</span>
                        <span class="badge" style="float:right;">{{ListCmtReçu.dateenvoi|date('d/m/Y')}}</span>
                    </a>
            </div>
                    <div id="88{{ListCmtReçu.id}}" class="panel-collapse collapse">	
                     	<div class="panel panel-primary">
                            <div class="panel-body panel-body-chat">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">

                                            {{ListCmtReçu.utilisateur.prenom|striptags|title}} {{ListCmtReçu.utilisateur.nom|first|upper}}.

                                        </strong>
                                         <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>
                                            {{(ListCmtReçu.dateenvoi|date(' d/m/Y à'))}}
                                            {{(ListCmtReçu.dateenvoi|date('H\\hi'))}}
                                        </small>
                                    </div>
                                    <p>{{ListCmtReçu.contenu}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
            
	    {% endfor %}   
    </div>   
</div>
{% endif %}