{% extends 'profil.html.twig' %}

{% block title %}Sur Ma Route{% endblock %}

{% block stylesheets %} 
	<link rel="stylesheet" type="text/css" href="{{asset('css/style2.css')}}">
{% endblock %}

{% block conat %}
	
						 {{include('profil/ScriptMsg.html.twig')}}

		            	<div class="col-md-12 offset-0">
		            		            	
			            	<div class="panel panel-default">
			            		<div class="panel-heading"><h6 class="panel-title">Changer votre mot de passe</h6></div>
								
								<div class="panel-body" style="padding : 30px 30px 30px 30px;">
										
										{{form_start(form)}}
										
										<!-- Current Password -->
										<div class="form-group has-feedback">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-lock"></i></span>
												{{ form_widget(form.oldPassword, {'attr':{'placeholder':'Votre mot de passe actuel'}})}}


			    							</div>
			    							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
										</div>
																									
										<!-- Password -->
										<div class="form-group has-feedback">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-lock"></i></span>
												{{ form_widget(form.newPassword.first, {'attr':{'placeholder':'Votre nouveau mot de passe'}})}}
			    							</div>
			    							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
										</div>
									
										
										<!-- Confirm password -->
										<div class="form-group has-feedback">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-lock"></i></span>
												{{ form_widget(form.newPassword.second, {'attr':{'placeholder':'Confirmer le nouveau mot de passe'}})}}
			    							</div>
			    							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
										</div>
									
									</div>
									
									<!-- Button -->	
											<div class="panel-footer text-center">
												<input id="submitForm" type="submit" value="Editer" class="btn btn-success"></input>
											</div>

									{{ form_widget(form._token) }} <!-- render the CSRF Token-->
									{{ form_end(form,{'render_rest': false})}}
								
									
							</div>
						
						</div>
						



{% endblock %}


{% block javascripts %}


{% endblock %}	
