{% extends 'profil.html.twig' %}

{% block title %}Sur Ma Route{% endblock %}

{% block stylesheets %} 
	<link rel="stylesheet" type="text/css" href="{{asset('css/style2.css')}}">
	<!--DateTimePicker-->
	<link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/south-street/jquery-ui.css">
{% endblock %}

{% block conat %}

	<!-- profil -->

					 <!-- Message Errors-->	
						{{include('profil/ScriptMsg.html.twig')}}



						<!-- Update personal data --> 

		         <div class="col-md-12 offset-0">
		            		            	
			        <div class="panel panel-default">
								
						<div class="panel-body" style="padding : 30px 30px 30px 30px;">				
								 {{form_start(form)}}
		          				<div class="row">			         
		          					<div class="col-sm-10">	            
										<!-- First name -->
										<div class="form-group has-feedback">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												
												{{ form_widget(form.nom, {'attr':{'placeholder':'Nom'}})}}
			    							</div>
			    							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
										</div>
									
										
										<!-- Last name -->
										<div class="form-group has-feedback">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												
												{{ form_widget(form.prenom, {'attr':{'placeholder':'Prenom'}})}}
			    							</div>
			    							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
										</div>
									
										
										<!-- Birthday -->
										<div class="form-group has-feedback">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
												

												{{ form_widget(form.date_naissance,{'attr':{'placeholder':'Année de naissance'}})}}
												
			    							</div>
			    							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
			    							
										</div>
									</div>	

									<div class="col-sm-2">	
											<div class="card-image">
												{% if img == null  %}
													<img class="imge" src="{{asset('images/search/imgprofil.png')}}">
												{% else %}	
				                                 <img class="imge" src="{{asset('uploads/') ~ img}}">
				                                {% endif %} 

				                            </div>   
									</div>
								</div>		
										<!-- Email -->
										
											<div class="form-group has-feedback">
												<div class="input-group">
													<span class="input-group-addon">@</span>
													{{ form_widget(form.email,{'attr':{'placeholder':'Email'}})}}
				    							</div>
				    							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
											</div>
									  
										
						
										<!-- Phone -->
										<div class="form-group has-feedback">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
												<span class="input-group-addon">+213(0)</span>
												{{ form_widget(form.telephone,{'attr':{'placeholder':'Téléphone'}})}}
			    							</div>
			    							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
										</div>
									

										<!-- sexe -->
										<div class="form-group has-feedback">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
												{{ form_widget(form.sexe)}}
			    							</div>
			    							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
										</div>

										{{ form_row(form.imageFile)}}
											
						</div>

									
									
									<!-- Button -->	
											<div class="panel-footer text-center">
												<input id="submitForm" type="submit" value="Editer" class="btn btn-success"></input>
											</div>
									{{ form_widget(form._token) }} <!-- render the CSRF Token-->
									{{ form_end(form,{'render_rest': false})}}
								
					<div>
							
				</div>
					
						

	<!-- /profil -->


{% endblock %}


{% block javascripts %}
	        <!--DateTimePicker-->
    		<script src="{{asset('js/vendors/jquery-ui.min.js')}}"></script>
            <script src="{{asset('js/calendar/birthday.js')}}"></script>

   		 <!-- /DateTimePicker-->

{% endblock %}	