{% extends 'profil.html.twig' %}

{% block title %}Sur Ma Route{% endblock %}

{% block stylesheets %} 

	<link rel="stylesheet" type="text/css" href="{{asset('css/style2.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/style7.css')}}">


{% endblock %}

{% block conat %}

<!-- Message Errors-->	

		
<!-- *************************************  Liste Trajet  *********************************************** -->
    <div class="covoiturages"> 
	    <div class="container">
	        <div class="row">
	            <div class="col-md-50"> 
	                <div class="panel-body">
	                    <div role="tabpanel" >


		                    <!-- Nav tabs -->
		                    <ul class="nav nav-tabs" role="tablist">
			                    <li role="presentation" class="active">
			                    	<a href="#annonce" aria-controls="annonce" role="tab" data-toggle="tab">
			                    		<h3 style=" margin: 0px">Mes annonces</h3></a>
			                    </li>
			                    <li role="presentation" class="">
			                    	<a href="#reservation" aria-controls="reservation" role="tab" data-toggle="tab">
			                    		<h3 style=" margin: 0px">Mes réservations</h3>
			                    	</a>
			                    </li>
			                    <li role="presentation" class="">
			                    	<a href="#HistoriqueAnnonce" aria-controls="reservation" role="tab" data-toggle="tab">
			                    		<h3 style=" margin: 0px">Historique annonces</h3>
			                    	</a>
			                    </li>
			                    <li role="presentation" class="">
			                    	<a href="#HistoriqueReservation" aria-controls="reservation" role="tab" data-toggle="tab">
			                    		<h3 style=" margin: 0px">Historique réservations</h3>
			                    	</a>
			                    </li>
		                    </ul>


		                	<!-- Tab panes -->
					 	    <div class="tab-content">
									
								<div role="tabpanel" class="tab-pane active" id="annonce" >
										{{include('covoiturage/Annonce.html.twig')}}

								</div>

								<div role="tabpanel" class="tab-pane" id="reservation">
										{{include('covoiturage/Reservation.html.twig')}}
								</div>	

								<div role="tabpanel" class="tab-pane" id="HistoriqueAnnonce">
										{{include('covoiturage/HistoriqueAnnonce.html.twig')}}
								</div>

								<div role="tabpanel" class="tab-pane" id="HistoriqueReservation">
										{{include('covoiturage/HistoriqueReservation.html.twig')}}
								</div>

							</div>		
	                    </div>
	                </div>
	        	</div>
	        </div>
        </div>
    </div>



<!-- **************************************************************************************************-->
	

{% endblock %}


{% block javascripts %}


{% endblock %}

