	{% if  reservations == null %}
				
	<div class="panel panel-default" >
	  
	  <div class="panel-body" style="width:600px;">
		<div class="alert alert-info">Aucune réservation en cours</div>
	  </div>

	</div>

	{% else %}

<div class="panel panel-default" style="padding: 10px">

	  <div class="panel-body">

		{% for reservation in reservations %}

		  <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
		
		   <div class="panel panel-default">
			
				<div class="panel-heading" role="tab" id="heading26" style="background-color: #ffffff">

				  <h4 class="panel-title">
				  	<a data-toggle="collapse" data-parent="#accordion3" href="#{{reservation.trajet.id}}" aria-expanded="true" aria-controls="collapse26" class="">

						<span class="color-green glyphicon glyphicon-map-marker"></span>
						{{reservation.trajet.villedepart}} <small></small>
						<span class="glyphicon glyphicon-chevron-right text-primary"></span>
						<span class="color-red glyphicon glyphicon-map-marker"></span>
						{{reservation.trajet.villearrivee}} <small><br></small>
						<small style="padding-left: 25px; color: #34495e; color: #34495e">
									Le{{(reservation.trajet.datedepart|date(' d/m/Y à'))}}
									{{(reservation.trajet.heuredepart|date('H\\hi'))}}						
						</small>
					</a>
						<small style="padding-left: 25px; color: #34495e; color: #34495e"><a href="{{path('search_trajet.show',{id: reservation.trajet.id})}}" class="btn-xs btn-default pull-right"><span class="glyphicon glyphicon-plus color-blue"></span></a>
						</small>
						<br>
						<div class="text-right">
							<label class="label label-warning">{{reservation.statut}}</label>
						</div>
				  </h4>
				</div>
			
			<div id="{{reservation.trajet.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading26" style="">
			  <div class="panel-body">

			  <strong>Les passagers de ce covoiturage</strong>

			  <table class="table table-hover">
				  <thead></thead>
				  <tbody>

				  	<!--***********************Rechercher le conducteur**************************-->

				  	{% for TousLesUtilisateur in TousLesUtilisateurs %}
									
						{% if  TousLesUtilisateur.id == reservation.trajet.utilisateur.id %}

						<tr>
						  <td>{{TousLesUtilisateur.prenom}}</td>
						  <td>{{TousLesUtilisateur.nom}}</td>
						  <td>{{ date('now'|date('d-m-Y')).diff(date(TousLesUtilisateur.datenaissance|date('d-m-Y'))).format('%y ans') }}</td>
						  <td>
							  
								
						<a href="{{path('search_profil.show',{id: TousLesUtilisateur.id})}}" class=" btn btn-xs btn-inverse">
							Voir le profil  <span class=" glyphicon glyphicon-chevron-right"></span>
						</a>

							<small>(conducteur)</small>

						  </td>
					    </tr>
					
					{% endif %}
				    {% endfor %}

				  	<!--****************************Rechercher les passagers****************************-->

				  	{% for TousLesReservation in TousLesReservations %}
									
						{% if  TousLesReservation.trajet.id == reservation.trajet.id  and
						 TousLesReservation.statut == 'Confirme' and app.user.id != TousLesReservation.utilisateur.id %}

						<tr>
						  <td>{{TousLesReservation.utilisateur.prenom}}</td>
						  <td>{{TousLesReservation.utilisateur.nom}}</td>
						  <td>{{ date('now'|date('d-m-Y')).diff(date(TousLesReservation.utilisateur.datenaissance|date('d-m-Y'))).format('%y ans') }}</td>
						  <td>
					
							<a href="{{path('search_profil.show',{id: TousLesReservation.utilisateur.id})}}"class=" btn btn-xs btn-invers">
								Voir le profil  <span class=" glyphicon glyphicon-chevron-right"></span>
							</a>							
							
						  </td>
					    </tr>
					
					{% endif %}
				    {% endfor %}
				    <!--****************************Utilisateur Connecté*******************************-->
				    
				    {% for TousLesReservation in TousLesReservations %}
									
						{% if  TousLesReservation.trajet.id == reservation.trajet.id and app.user.id == TousLesReservation.utilisateur.id %}

						<tr>
						  <td>{{TousLesReservation.utilisateur.prenom}}</td>
						  <td>{{TousLesReservation.utilisateur.nom}}</td>
						  <td>{{ date('now'|date('d-m-Y')).diff(date(TousLesReservation.utilisateur.datenaissance|date('d-m-Y'))).format('%y ans') }}</td>
						  <td>
							
							<form method="post" action="{{path('covoiturage.annuler',{id: reservation.id})}}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir annuler?')">
									<input type="hidden" name="_method" value="DELETE">
									<button class=" btn btn-xs btn-danger link-blanc btn-group-justified">Annuler <span class=" glyphicon glyphicon-chevron-right"></span></button>
							</form>  
							
						  </td>
					    </tr>
					
					{% endif %}
				    {% endfor %}

				  </tbody>
			  </table>

			  </div>
			</div>
		  </div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
						